<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="high.caliber.productions.demigod"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="high.caliber.productions.demigod.activity.TitleScreen"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="high.caliber.productions.demigod.activity.HeroHome"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name="high.caliber.productions.demigod.activity.HomeTown"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name="high.caliber.productions.demigod.activity.Status"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name="high.caliber.productions.demigod.activity.BattleLog"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name="high.caliber.productions.demigod.activity.Inventory"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name="high.caliber.productions.demigod.activity.Battle_Activity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
    </application>

</manifest>